{% extends "::base.html.twig" %}

{% block title %}ChatBundle:Channel:index{% endblock %}

{% block body %}
<h1>Welcome to the Channel:index page</h1>
    <a href="{{ path('channel_add_channel') }}">go</a>

{% endblock %}
