{% extends 'base.html.twig' %}


{% block body %}


<div class="parallax-container">
    <div class="parallax"><img src="https://vertufineart.com/wp-content/uploads/2013/03/Alex-Katz-gray-day-1992.jpg"></div>
</div>







    <div class="parallax-container">
        <div class="parallax"><img src="http://alexkatz.guggenheim-bilbao.eus/img/Alex-Katz-2012-White-Roses-9-Zoom.jpg"></div>
    </div>





{% endblock %}